.inicial {
  transition: 0.5 ease-in;
  animation: inicial 0.5s ease-in;
}

.aContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  margin-left: 5rem;
}
.pdfContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #ffc107;
  font-size: 0.7rem;
}

.cvImgOff {
  height: 60px;
  width: 40px;
  border: 2px solid #aaa492;
  border-radius: 2px;
}
.cvImgOff:hover {
  box-shadow: 0 0 1px lightgray, 0 0 1px lightgray, 0 0 1px lightgray;
}
.textoH3 {
  font-size: 0.9rem;
  font-weight: 600;
  text-shadow: none;
}
.texto {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

.it_link {
  color: #ffc300;
}
.it_link:hover {
  text-decoration: underline;
  color: #ffb72b;
}

.formacion_h6 {
  font-weight: bold;
  text-decoration: underline;
  color: #ffb72b;
}
.formacion_texto {
  font-size: 0.9rem;
}
.formacion_container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;
  margin-left: 5rem;
  padding-left: 0;
  justify-content: start;
}
@media (max-width: 680px) {
  .lenguajesDiv {
    flex-flow: column nowrap;
    gap: 20px;
  }
  .formacion_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: left;
  }
  .formacion_h6 {
    font-size: 0.9rem;
  }
  .formacion_texto {
    font-size: 0.7rem;
  }
}
@media (max-width: 600px) {
  .inicial {
    flex-direction: column;
  }
  .cvImgOff {
    margin: 0 auto;
  }
  
  
}

@keyframes inicial {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
